# requirements.txt - Astro Runtime 11.8.0 Compatible
apache-airflow-providers-postgres==5.9.0
astronomer-cosmos[dbt-postgres]==1.0.5
dbt-postgres==1.5.4
dbt-core<=1.5.4
pandas==2.0.3
requests==2.31.0
psycopg2-binary
astro-run-dag # This package is needed for the astro run command. It will be removed before a deploy